<section id="value-carousel" class="value-carousel">
    <div class="value-carousel-track">
        <!-- First set of value props -->
        <div class="value-carousel-item">
            <img src="{{ 'solar_sun-bold.svg' | asset_url }}" alt="Solar Energy Icon" />
            <h4>Dairy Free</h4>
        </div>

        <div class="value-carousel-item">
            <img src="{{ 'solar_sun-bold.svg' | asset_url }}" alt="Solar Energy Icon" />
            <h4>Soy Free</h4>
        </div>

        <div class="value-carousel-item">
            <img src="{{ 'solar_sun-bold.svg' | asset_url }}" alt="Solar Energy Icon" />
            <h4>Gluten Free</h4>
        </div>

        <div class="value-carousel-item">
            <img src="{{ 'solar_sun-bold.svg' | asset_url }}" alt="Solar Energy Icon" />
            <h4>Delicious Chocolate</h4>
        </div>

        <div class="value-carousel-item">
            <img src="{{ 'solar_sun-bold.svg' | asset_url }}" alt="Solar Energy Icon" />
            <h4>Vegan Snacks</h4>
        </div>

        <!-- Duplicate set for seamless infinite scroll -->
        <div class="value-carousel-item">
            <img src="{{ 'solar_sun-bold.svg' | asset_url }}" alt="Solar Energy Icon" />
            <h4>Dairy Free</h4>
        </div>

        <div class="value-carousel-item">
            <img src="{{ 'solar_sun-bold.svg' | asset_url }}" alt="Solar Energy Icon" />
            <h4>Soy Free</h4>
        </div>

        <div class="value-carousel-item">
            <img src="{{ 'solar_sun-bold.svg' | asset_url }}" alt="Solar Energy Icon" />
            <h4>Gluten Free</h4>
        </div>

        <div class="value-carousel-item">
            <img src="{{ 'solar_sun-bold.svg' | asset_url }}" alt="Solar Energy Icon" />
            <h4>Delicious Chocolate</h4>
        </div>

        <div class="value-carousel-item">
            <img src="{{ 'solar_sun-bold.svg' | asset_url }}" alt="Solar Energy Icon" />
            <h4>Vegan Snacks</h4>
        </div>
    </div>
</section>